<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Professional resume of James Lind, experienced polyglot developer. Skilled in SQL Server, .NET, C#, REST Services, Php, Javascript, HTML, CSS and more.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://jameslind.info" />
<style>
{{ .Style }}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"  media="print" onload="this.media='all'">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31054644-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-31054644-2');
</script>
<title>James Lind - Software Developer</title>
</head>
<body>
<div class=markdown-body>
{{ .Body }}
</div>
<div class="application-about">
<h6>About this page</h6>
<p>
<span style="white-space: nowrap;"><i class="fab fa-github" style="font-size: 1.2em;"></i> <a href=https://github.com/byteporter/jameslind_info>byteporter/jameslind_info</a></span>
</p>
</div>
</body>
</html>
