<!doctype html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31054644-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-31054644-2');
</script>
<meta name="description" content="Professional resume of James Lind, experienced polyglot developer. Skilled in SQL Server, .NET, C#, REST Services, Php, Javascript, HTML, CSS and more.">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link async rel="stylesheet" href="resources/resume.css" media="jlind-null" onload="this.media='all'">
<title>James Lind - Software Developer</title>
</head>
<body>
<div class=markdown-body>
{{.}}
<h6>About this page</h6>
<p class=application-about>
This page is generated on each load from a markdown version of my resume by a custom microservice written by myself in Go.  You can view the source for this web page on <a href=https://github.com/byteporter/jameslind_info>github</a>.
</p>
</div>
</body>
</html>